@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #eee;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.line-one {
  position: fixed;
  top: 0;
  left: 23%;
  width: 15px;
  height: 100vh;
  background: #436DB5;
}

.line-two {
  position: fixed;
  top: 0;
  left: 25%;
  width: 25px;
  height: 100vh;
  background: #262B66;
}

nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
}

nav ul {
  flex: 1;
  text-align: right;
  padding-right: 270px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a {
  position: relative;
  font-size: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  transform: translateX(-50%);
  background: #436DB5;
  transition: width 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

.logo {
  position: fixed;
  left: 120px;
}

.logo img {
  width: 100px;
}

.search {
  position: fixed;
  right: 160px;
  font-size: 24px;
}

.menu {
  position: fixed;
  right: 100px;
  font-size: 24px;
}

.img img {
  position: relative;
  left: 5%;
  top: 120px;
  width: 650px;
}

.title {
  position: fixed;
  position: absolute;
  left: 50%;
  top: 276px;
  height: 170px;
  line-height: 0.5;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 2px;
}

.title p {
  font-size: 22px;
  color: grey;
  font-weight: 400;
  text-transform: uppercase;
  text-indent: 10px;
  line-height: 1;
}

.btn {
  position: relative;
}

.btn a {
  position: relative;
  right: -50.1%;
  bottom: 130px;
  background: #436DB5;
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: 0.4s;
}

.btn a:hover {
  background: #000;
  color: #fff;
}

.year {
  position: fixed;
  left: 180px;
  bottom: 190px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 700;
}

.media ul {
  list-style: none;
  position: fixed;
  right: 20px;
  top: 63%;
  padding: 10px 10px;
}

.media li {
  font-size: 18px;
  margin: 24px 0;
  cursor: pointer;
  transition: 0.3s;
}

.media li:hover {
  transform: scale(1.8);
}